In [1]:
num = 4
print(type(num))

<class 'int'>

In [2]:
num = 3.14
print(type(num))

<class 'float'>

## Arithmetic operators

1. Addition: 3+5
2. Substraction: 3-5
3. Multiplication: 3*5
4. Division: 3/2 
5. Floor Division 3//2
6. Exponent 3**2
7. Modulus 3%2

In [8]:
#in python 2 it drops the decimal part of 0.5 and gives the answer 1
#but in python it gives the exact answer 1.5 
#compare with divsion and floor division
print(3 / 2)

1.5

In [9]:
print(3//2)

1

In [10]:
print(3**2)

9

In [11]:
print(3%2)

1

In [12]:
print(2%2)
print(3%2)
print(4%2)
print(5%2)

0
1
0
1

In [14]:
print(3 * (2 + 1))

9

In [15]:
num = 1
num = num + 1
print(num)

2

In [17]:
num1 = 1
num1+=1
print(num1)

2

In [18]:
num2 = 1
num2 *= 10
print(num2)

10

In [19]:
#abs
print(abs(-100))

100

In [23]:
#round
print(round(3.49))
print(round(3.50))
print(round(3.51))

3
4
4

In [24]:
print(round(3.75,1))

3.8

In [26]:
print(round(3.81,1))

3.8

# Comparision Operators:
    
1.Equal:            3 == 2

2.Not Equals:       3 != 2

3.Greater Than:     3 > 2

4.Less Than:        3 < 2

5.Greater or Equal: 3 >= 2

6.Less or Equal:    3 <= 2

In [27]:
num1 = 3
num2 = 2
print(num1==num2)

False

In [28]:
print(num1!=num2)

True

In [29]:
print(num1>num2)

True

In [30]:
print(num1>=num2)

True

In [31]:
print(num1<num2)

False

In [32]:
print(num1<=num2)

False

In [33]:
#number converted to strings

In [34]:
num1 = '100'
num2 = '200'
print(num1+num2)

100200

In [36]:
num1 = '100'
num2 = '200'

#casting string to int
num1 = int(num1)
num2 = int(num2)
print(num1+num2)

300