In [1]:
courses = ['Math', 'physics', 'Chemistry', 'Biology']
print(courses)

['Math', 'physics', 'Chemistry', 'Biology']

In [2]:
print(courses[0])

Math

In [3]:
print(courses[3])

Biology

In [4]:
print(courses[-1])

Biology

In [5]:
print(courses[5])

IndexError: list index out of range

In [6]:
print(courses[0:2])

['Math', 'physics']

In [7]:
print(courses[:2])

['Math', 'physics']

In [8]:
print(courses[2:])

['Chemistry', 'Biology']

In [9]:
print(courses[3:1])

[]

In [10]:
courses = ['History','Maths','Physics','CS']
print(courses)

['History', 'Maths', 'Physics', 'CS']

In [11]:
#Append
courses.append('Art')
print(courses)

['History', 'Maths', 'Physics', 'CS', 'Art']

In [12]:
courses.insert(0,'Info science')
print(courses)

['Info science', 'History', 'Maths', 'Physics', 'CS', 'Art']

In [13]:
course1 = ['History','Maths','Physics','CS']
course2 = ['Art', 'Education']
course1.insert(0,course2)
print(course1[0])

['Art', 'Education']

In [14]:
course1

[['Art', 'Education'], 'History', 'Maths', 'Physics', 'CS']

In [23]:
#append
course3 = ['History','Maths','Physics','CS']
course4 = ['Art', 'Education']
course3.append(course4)
print(course3)

['History', 'Maths', 'Physics', 'CS', ['Art', 'Education']]

In [24]:
course3

['History', 'Maths', 'Physics', 'CS', ['Art', 'Education']]

In [25]:
#extend
course3 = ['History','Maths','Physics','CS']
course4 = ['Art', 'Education']
course3.extend(course4)
print(course3)

['History', 'Maths', 'Physics', 'CS', 'Art', 'Education']

In [27]:
#remove
courses5 = ['History','Maths','Physics','CS']
poping = courses5.pop()
print(poping)

CS

In [28]:
courses5

['History', 'Maths', 'Physics']

In [29]:
#reverse

In [31]:
courses6 = ['History','Maths','Physics','CS']
courses6.reverse()
print(courses6)

['CS', 'Physics', 'Maths', 'History']

In [32]:
#sort

In [33]:
courses6 = ['History','Maths','Physics','CS']
num = [1,5,4,3,2]

courses6.sort()
num.sort()

print(courses6)
print(num)

['CS', 'History', 'Maths', 'Physics']
[1, 2, 3, 4, 5]

In [36]:
#sort in reverse=true
courses6 = ['History','Maths','Physics','CS']
num = [1,5,4,3,2]

courses6.sort(reverse=True)
num.sort(reverse=True)

print(courses6)
print(num)

['Physics', 'Maths', 'History', 'CS']
[5, 4, 3, 2, 1]

In [37]:
#soreted
courses6 = ['History','Maths','Physics','CS']

sorted_course = sorted(courses6)

print(courses6)

['History', 'Maths', 'Physics', 'CS']

In [40]:
#min
#max

In [39]:
num = [1,5,4,3,2]

print(max(num))
print(min(num))

5
1

In [42]:
#index
courses6 = ['History','Maths','Physics','CS']

print(courses6.index('Physics'))

2

In [44]:
#in

courses6 = ['History','Maths','Physics','CS']

print('Physics' in courses6)
print('Bio' in courses6)

True
False

In [47]:
courses6 = ['History','Maths','Physics','CS']

for i in courses6:
    print(i)

History
Maths
Physics
CS

In [49]:
#enumerate
courses6 = ['History','Maths','Physics','CS']

for index, i in enumerate(courses6, start=1):
    print(index,i)

1 History
2 Maths
3 Physics
4 CS

In [51]:
#join

courses6 = ['History','Maths','Physics','CS']
course_str = ' - '.join(courses6)
print(course_str)

History - Maths - Physics - CS

In [52]:
#join, split

courses6 = ['History','Maths','Physics','CS']
course_str = ' - '.join(courses6)
new_list = course_str.split('-')
print(new_list)

['History ', ' Maths ', ' Physics ', ' CS']

## Tuples & Sets

sets are mutable 

tuples are immutable

In [53]:
#mutable
list_1 = ['History','Maths','Physics','CS']
list_2 = list_1

print(list_1)
print(list_2)

['History', 'Maths', 'Physics', 'CS']
['History', 'Maths', 'Physics', 'CS']

In [55]:
list_1 = ['History','Maths','Physics','CS']
list_2 = list_1

print(list_1)
print(list_2)

list_1[0] = 'Art'

print(list_1)
print(list_2)

['History', 'Maths', 'Physics', 'CS']
['History', 'Maths', 'Physics', 'CS']
['Art', 'Maths', 'Physics', 'CS']
['Art', 'Maths', 'Physics', 'CS']

In [57]:
#immutable
#instead of square barckets we used half brackets here in tuples
    
tuple_1 = ('History','Maths','Physics','CS')
tuple_2 = tuple_1

print(tuple_1)
print(tuple_2)

tuple_1[0] = 'Art'

print(tuple_1)
print(tuple_2)

('History', 'Maths', 'Physics', 'CS')
('History', 'Maths', 'Physics', 'CS')

TypeError: 'tuple' object does not support item assignment

## sets

sets are unordered and, no duplicates

In [58]:
set_courses = {'History','Maths','Physics','CS'}
print(set_courses)

{'Maths', 'Physics', 'CS', 'History'}

In [60]:
#adding maths 2wice not added becaiuse of set property
set_courses = {'History','Maths','Physics','CS','Maths'}
print(set_courses)

{'Maths', 'Physics', 'CS', 'History'}

In [62]:
#intersection
set_courses1 = {'History','Maths','Physics','CS'}
set_courses2 = {'History','Maths','Art','CS'}
print(set_courses.intersection(set_courses2))

{'Maths', 'CS', 'History'}

In [63]:
#difference
set_courses1 = {'History','Maths','Physics','CS'}
set_courses2 = {'History','Maths','Art','CS'}
print(set_courses.difference(set_courses2))

{'Physics'}

In [64]:
#union
set_courses1 = {'History','Maths','Physics','CS'}
set_courses2 = {'History','Maths','Art','CS'}
print(set_courses.union(set_courses2))

{'Maths', 'Art', 'Physics', 'CS', 'History'}

In [66]:
empty_list = []
empty_list = list()

empty_tuple = ()
empty_tuple = tuple()

empty_set = {}     #this is not right choice
empty_set = set()  #this is correct